

.input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
    font-size: 1.3rem;
    white-space: nowrap;
    min-width: 100px;
  }
  
  .input input {
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
    width: 100%;
  }

  .actions {
    text-align: center;
  }